extends layout

block content
  h1 #{title}
  table
    tr
      td 
        strong Title
      td #{row.title}
    tr
      td 
        strong Description
      td #{row.description}
    tr
      td 
        strong Release Year
      td #{row.release_year}
    tr
      td 
        strong Rating
      td #{row.rating}